/packages
/Bookzilla.Web/bin
/Bookzilla.Web/obj
/Bookzilla.Web/Bookzilla.Web.csproj.user
/Bookzilla/Bookzilla.sqlproj.user
/Bookzilla/obj
/Bookzilla/bin
/Bookzilla.Database/bin
/Bookzilla.Database/obj
/.vs
/Bookzilla/Bookzilla.dbmdl
